@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap");

:root {
  --montserrat-font: "Montserrat", serif;
  --inter-font: "Inter", serif;
  --outfit-font: "Outfit", serif;
  --lato-font: "Lato", serif;
  --sora-font: "Sora", serif;
  --cool-gray: 108 114 120; /* #6C7278 */
  --blue-strong: 77 129 231; /* #4D81E7 */
  --white: 255 255 255 /* #FFFFFF */;
  --dark-charcoal: 26 28 30; /* #1A1C1E */
  --light-gray: 237 241 243; /* #EDF1F3 */
  --charcoal: 17 24 39; /* #111827 */
  --gray-muted: 108 114 120; /* #6C7278 */
  --golden-beige: 208 159 124; /* #D09F7C */
  --gray-light: 105 103 103; /* #696767 */
  --gray-medium: 103 103 103; /* #676767 */
  --black: 0 0 0; /* #000000 */
  --gray-ash: 158 158 158; /* #9E9E9E */
  --taupe-gray: 139 132 128; /* #8B847F */
  --dark-brown: 69 67 67; /* #454343 */
  --emerald-green: 33 150 83; /* #219653 */
  --red-dark: 163 13 17; /* #A30D11 */
  --gray-very-light: 224 224 224; /* #E0E0E0 */
  --light-pink: 240 237 237; /* #F0EDED */
  --dark-gray: 80 77 77; /* #504D4D */
  --light-silver: 204 204 204; /* #CCCCCC */
  --mid-gray: 102 102 102; /* #666666 */
  --dark-background: 36 36 36; /* #242424 */
  --slate-gray: 51 51 51; /* #333333 */
  --olive-gray: 79 79 78; /* #4F4F4E */
  --golden-opacity: #d09f7c80; /* rgba(208 159 124 0.5) */
  --brown-opacity: #ca794054; /* rgba(202 121 64 0.33) */
  --bright-red: 239 17 17; /* #EF1111 */
  --muted-brown: 128 122 122; /* #807A7A */
  --vivid-red: 240 68 56; /* #F04438 */
  --soft-pink: 253 162 155; /* #FDA29B */
}

.montserrat-font {
  font-family: var(--montserrat-font);
}
.inter-font {
  font-family: var(--inter-font);
}
.outfit-font {
  font-family: var(--outfit-font);
}
.lato-font {
  font-family: var(--lato-font);
}
.sora-font {
  font-family: var(--sora-font);
}
.cool-gray {
  color: rgb(var(--cool-gray));
}
.blue-strong {
  color: rgb(var(--blue-strong));
}
.white {
  color: rgb(var(--white));
}
.dark-charcoal {
  color: rgb(var(--dark-charcoal));
}
.light-gray {
  color: rgb(var(--light-gray));
}
.charcoal {
  color: rgb(var(--charcoal));
}
.gray-muted {
  color: rgb(var(--gray-muted));
}
.golden-beige {
  color: rgb(var(--golden-beige));
}
.gray-light {
  color: rgb(var(--gray-light));
}
.gray-medium {
  color: rgb(var(--gray-medium));
}
.black {
  color: rgb(var(--black));
}
.gray-ash {
  color: rgb(var(--gray-ash));
}
.taupe-gray {
  color: rgb(var(--taupe-gray));
}
.dark-brown {
  color: rgb(var(--dark-brown));
}
.emerald-green {
  color: rgb(var(--emerald-green));
}
.red-dark {
  color: rgb(var(--red-dark));
}
.gray-very-light {
  color: rgb(var(--gray-very-light));
}
.light-pink {
  color: rgb(var(--light-pink));
}
.dark-gray {
  color: rgb(var(--dark-gray));
}
.light-silver {
  color: rgb(var(--light-silver));
}
.mid-gray {
  color: rgb(var(--mid-gray));
}
.dark-background {
  color: rgb(var(--dark-background));
}
.slate-gray {
  color: rgb(var(--slate-gray));
}
.olive-gray {
  color: rgb(var(--olive-gray));
}
.bright-red {
  color: rgb(var(--bright-red));
}
.muted-brown {
  color: rgb(var(--muted-brown));
}
.vivid-red {
  color: rgb(var(--vivid-red));
}
.soft-pink {
  color: rgb(var(--soft-pink));
}

.golden-opacity {
  background-color: var(--golden-opacity);
}
.brown-opacity {
  background-color: var(--brown-opacity);
}

body {
  font-family: var(--inter-font);
}

.auth-layout {
  position: relative;
  display: flex;
  min-height: 100svh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1.5rem;
}

.blur-box-1 {
  filter: blur(520px);
  position: absolute;
  right: -25%;
  bottom: -25%;
  height: 100dvh;
  width: 100dvw;
  border-radius: 9999px;
  background-color: #c5c5c5;
  -webkit-filter: blur(520px);
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.blur-box-2 {
  filter: blur(328px);
  position: absolute;
  left: -50%;
  top: -25%;
  height: 100dvh;
  width: 100dvw;
  border-radius: 9999px;
  background-color: #ebc894;
  -webkit-filter: blur(328px);
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.auth-layout form {
  position: relative;
  z-index: 50;
  width: 100%;
  max-width: 420px;
  border-radius: 0.75rem;
  border-width: 1px;
  border-style: solid;
  padding: 1.5rem;
  background-color: rgb(var(--white) / 0.6);
  border-color: rgb(var(--white));
}

.auth-layout form > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(1.5rem * calc(1 - 0));
  margin-bottom: calc(1.5rem * 0);
}

.btn-bg-gradient {
  background: linear-gradient(
      0deg,
      rgb(var(--golden-beige)),
      rgb(var(--golden-beige))
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  color: white;
}

.btn-bg-gradient:hover,
.btn-bg-gradient:focus {
  opacity: 0.8;
}

.btn-regular {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  min-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.auth-layout form button[type="submit"] {
  font-weight: 700;
  font-size: 1rem;
}

.auth-layout form h1 {
  color: rgb(var(--charcoal));
  font-weight: 700;
  font-size: 2rem;
}

.auth-layout form h6 {
  font-weight: 500;
  font-size: 0.75rem;
  color: rgb(var(--cool-gray));
}

.auth-layout form input {
  background-color: rgb(var(--white));
  border-color: rgb(var(--light-gray));
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px 12px;
  font-size: 0.875rem;
  color: rgb(var(--dark-charcoal));
  box-shadow: 0px 1px 2px 0px #e4e5e73d;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.438rem;
  width: 100%;
}

.input-group .error-text {
  font-size: 0.9rem;
  display: none;
  color: rgb(var(--vivid-red));
}

.input-group.error .error-text {
  display: block;
}

.input-group .input {
  position: relative;
}

.input-group .input input {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

.input-group.error .input input {
  border-color: rgb(var(--soft-pink));
  padding-right: 2rem;
}

.input-group.error.icon .input input {
  padding-right: 3.8rem;
}

.input-group.icon input {
  padding-right: 2rem;
}

.input-group.error.icon .input::after {
  content: "";
  right: 32px;
}

.input-group.error .input input:focus {
  outline-color: rgb(var(--vivid-red));
}

.input-group.error .input::after {
  content: "";
  position: absolute;
  inset-block: 0;
  right: 4px;
  background-position: center;
  width: 1.75rem;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><g clip-path="url(%23clip0_261_10665)"><path d="M7.99967 5.33337V8.00004M7.99967 10.6667H8.00634M14.6663 8.00004C14.6663 11.6819 11.6816 14.6667 7.99967 14.6667C4.31778 14.6667 1.33301 11.6819 1.33301 8.00004C1.33301 4.31814 4.31778 1.33337 7.99967 1.33337C11.6816 1.33337 14.6663 4.31814 14.6663 8.00004Z" stroke="%23F04438" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_261_10665"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>');
}
